[gerrit]
    basePath = git
    canonicalWebUrl = http://localhost:8081
    serverId = 41d2c1bc-74f0-4426-8738-0728f14acb4e

[index]
    type = LUCENE

[auth]
    type = LDAP
    useContributorAgreements = false
    registerPageUrl = disabled
    useRegister = false
    useSignIn = true

[httpd]
    listenUrl = http://*:8080

[sshd]
    listenAddress = *:29418

[container]
    user = gerrit
    javaOptions = -Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance
    javaOptions = -Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance
    
[ldap]
    server = ldap://100.64.1.32
    username = cn=admin,dc=example,dc=com
    password = adminpassword
    accountBase = ou=people,dc=example,dc=com
    groupBase = ou=groups,dc=example,dc=com
    accountPattern = (uid=${username})